body{
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;
    background-color: #f1f1f1;
    background-image: url('/pictures/essensplan2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.collapsible {
    background-color: teal;
    color: white;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.collapsible:hover {
    background-color: #D5F2EB;
}

.collapsible:after {
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #D5F2EB;
}

/*-------------------------------------------------------*/

/* Customize Label*/
.container {
    display:block;
    position: relative;
    cursor: pointer;
    font-size: 2em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Delete Default Checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create Checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 35%;
    height: 50px;
    width: 100px;
    background-color: #D5F2EB;
    border-radius: 5px;
}

.container:hover input ~ .checkmark {
    background-color: teal;
}

.container input:checked ~ .checkmark {
    background-color: teal;
}

/* Create Checkmark*/
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Display Checkmark */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Checkmark */
.container .checkmark:after {
    left: 42px;
    top: 5px;
    width: 15px;
    height: 30px;
    border: solid white;
    border-width: 0 7px 7px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

a {
    text-decoration: none;
}

.essensplan {
    background-color: rgba(255, 255, 255, 0.5);
    padding-bottom: 32px;
    border-radius: 10px;
}

.w3-theme {color:#000 !important; background-color:white !important}
.w3-theme-selected {color:#FFF !important; background-color:teal !important}

.w3-hover-theme:hover {color:#000 !important; background-color:#D5F2EB !important}
.w3-theme-selected:hover {color:#FFF !important; background-color:teal !important}