<!DOCTYPE html>
<html lang="en">
<head>
    <title>McFresch - Startseite</title>
    <meta charset="UTF-8">
    <link rel="icon" href="/static/pictures/logo_mittel.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- W3.CSS Framework -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Specific CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">

</head>
<body>

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-card w3-white">
        <a href="#idx" class="w3-bar-item w3-button w3-hover-theme"><img src="/static/pictures/McFreshLogo.png" style="width: 2em"></a>
        <a href="#funzt" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-hover-theme">So funktionierts</a>
        <a href="#idiyets" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-hover-theme">Über Uns</a>
        {% if current_user.is_authenticated %}
        <a href="{{url_for('fresh.logout')}}" class="w3-padding-large w3-hover-teal w3-hide-small w3-right w3-hover-theme" style="background-color: teal; color: white">{{current_user.vorname}} abmelden</a>
        {% else %}
        <a href="{{url_for('fresh.login')}}" class="w3-padding-large w3-hover-teal w3-hide-small w3-right w3-hover-theme" style="background-color: teal; color: white">Anmelden</a>
        {% endif %}
    </div>
</div>

<!-- Seitenbreite -->
<div id="idx" class="w3-content" style="max-width:2000px; margin-top:46px">

    <!-- Startbildschirm -->
    <div class="w3-display-container w3-center">
        <img src="/static/pictures/home.jpg" style="width:100%">
        <div class="w3-display-middle w3-container w3-text-white w3-padding-32 w3-hide-small">
            <h1 style="font-size: 4em"><b>McFresch</b></h1>
            <div style="font-size: 2em; padding-bottom: 0.5em">Ernähre dich gesund nach deinem Geschmack</div>

            <button class="w3-button w3-teal w3-round" style="font-size: 1.25em">

                
                <a href="/makeweek">Erstelle jetzt deinen Essensplan</a>
                
            </button>
        </div>
    </div>

    <!-- So funkionierts -->
    <div id="funzt" class="w3-content w3-center w3-padding-32" style="max-width: 1500px">
        <h2 class="w3-wide">So funktioniert's</h2>
        <div class="w3-center w3-padding-8">
            <p style="display: inline; margin-right: 0.5em"><i>Swipe deine Vorlieben</i></p>
            <p style="display: inline">-</p>
            <p style="display: inline; margin-left: 0.5em; margin-right: 0.5em"><i>Erstelle deinen Wochenplan</i></p>
            <p style="display: inline">-</p>
            <p style="display: inline; margin-left: 0.5em"><i>Erhalte die erstellte Einkaufsliste</i></p>
        </div>

        <div class="w3-row-padding w3-padding-32">
            <div class="w3-third">
                <img src="/static/pictures/swipefood.jpg" class="w3-round" alt="Random Name" style="width:400px">
                <p style="font-size: 1.2em"><b>Swipe deine Vorlieben</b></p>
                <p>Ernähre dich gesund und lecker, indem du deine Vorlieben auswählst.</p>
            </div>
            <div class="w3-third">
                <img src="/static/pictures/wochenplan.jpg" class="w3-round" alt="Random Name" style="width:400px">
                <p style="font-size: 1.2em"><b>Erstelle deinen Wochenplan</b></p>
                <p>Wähle die Gerichte aus, die dir am besten gefallen</p>
            </div>
            <div class="w3-third">
                <img src="/static/pictures/einkaufsliste.jpg" class="w3-round" alt="Random Name" style="width:400px">
                <p style="font-size: 1.2em"><b>Erhalte die erstellte Einkaufsliste</b></p>
                <p>Spare Zeit beim Einkaufen und lade dir die automatisch erstellte Einkaufsliste herunter.</p>
            </div>
        </div>
    </div>

    <!-- McFresch Vorteile -->
    <div id="idiyets" class="w3-row w3-padding-16" style="background-color: teal; color: white">
        <h2 class="w3-center w3-margin-bottom">Spare Zeit, ernähre dich gesund,<br>und habe Spaß dabei</h2>
        <div class="w3-col w3-padding-medium w3-right-align" style="width: 45%">
            <img src="/static/pictures/McFreshLogo2.png" alt="McFresch Logo" width="300px">
        </div>
        <div class="w3-col w3-padding-large w3-container" style="width: 55%">
            <div class="w3-row w3-padding-32">
                <div class="w3-col m2 w3-center">
                    <img src="/static/pictures/save-time.png" alt="Time Saving" width="50px" align="middle">
                </div>
                <div class="w3-col m10" style="max-width: 450px; text-align: justify">
                    Spare Zeit, indem du nicht mehr überlegen musst wie du dich möglichst gesund ernährst. Unsere KI erstellt dir einen persönlichen Ernährungsplan, indem du ihr deine Essensvorlieben über die McSwipes zeigst.
                </div>
            </div>
            <div class="w3-row w3-padding-32">
                <div class="w3-col m2 w3-center">
                    <img src="/static/pictures/healthy.png" alt="Gesund" width="50px">
                </div>
                <div class="w3-col m10" style="max-width: 450px; text-align: justify">
                    Ernähre dich ganz nach deinem Geschmack - und vor allem gesund! Wir versichern dir eine ausgewogene Ernährung, indem wir alle Aspekte der Ernährungspyramide in deinem Essensplan abdecken!
                </div>
            </div>
            <div class="w3-row w3-padding-32">
                <div class="w3-col m2 w3-center">
                    <img src="/static/pictures/hand.png" alt="Einfach und intuitiv" width="50px">
                </div>
                <div class="w3-col m10" style="max-width: 450px; text-align: justify">
                    Einfach und Intuitiv - Absofort musst du dir gar kein Stress mehr für beim Wocheneinkauf machen. Die Einkaufsliste stellen wir dir nämlich bereit.
                </div>
            </div>
        </div>
    </div>

    <!-- Unsere Gerichte -->
    <div class="w3-container w3-padding-32 w3-content" style="max-width:1500px">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Ein paar unserer Gerichte</h3>
    </div>

    <div class="w3-row-padding w3-content" style="max-width:1500px">
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">Tomatig</div>
                <img src="/static/pictures/IMG.1.jpg" alt="House" style="width:100%">
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">Vegan</div>
                <img src="/static/pictures/IMG.2.jpg" alt="House" style="width:100%">
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">Edel</div>
                <img src="/static/pictures/IMG.3.jpg" alt="House" style="width:100%">
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">Herzhaft</div>
                <img src="/static/pictures/IMG.4.jpg" alt="House" style="width:100%">
            </div>
        </div>
    </div>

    <div class="w3-row-padding w3-content" style="max-width:1500px">
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">Scharf</div>
                <img src="/static/pictures/IMG.5.jpg" alt="House" style="width:99%">
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">Einzigartig</div>
                <img src="/static/pictures/IMG.6.jpg" alt="House" style="width:99%">
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">Kulinarisch</div>
                <img src="/static/pictures/IMG.7.jpg" alt="House" style="width:99%">
            </div>
        </div>
        <div class="w3-col l3 m6 w3-margin-bottom">
            <div class="w3-display-container">
                <div class="w3-display-topleft w3-black w3-padding">Leicht</div>
                <img src="/static/pictures/IMG.8.jpg" alt="House" style="width:99%">
            </div>
        </div>
    </div>

    <!-- Über Uns -->
    <div class="w3-container w3-padding-16 w3-content" style="max-width:1500px">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Das McFresch Team</h3>
    </div>

    <div class="w3-row-padding w3-content w3-padding" style="max-width:1500px">
        <div class="w3-col w3-margin-bottom" style="width: 20%">
            <img class="lookatus" src="/static/pictures/moritz.jpg" alt="Moritz Backhaus">
            <h3>Moritz Backhaus</h3>
            <p class="w3-opacity">Leitung Controlling</p>
        </div>
        <div class="w3-col w3-margin-bottom" style="width: 20%">
            <img class="lookatus" src="/static/pictures/marius.jpeg" alt="Marius Grosch" style="border: 1px solid black">
            <h3>Marius Grosch</h3>
            <p class="w3-opacity">Leitung Softwareentwicklung</p>
        </div>
        <div class="w3-col w3-margin-bottom" style="width: 20%">
            <img class="lookatus" src="/static/pictures/josh.jpeg" alt="Joshua Marx">
            <h3>Joshua Marx</h3>
            <p class="w3-opacity">Leitung Personal</p>
        </div>
        <div class="w3-col w3-margin-bottom" style="width: 20%">
            <img class="lookatus" src="/static/pictures/dario.jpg" alt="Dario Petkovski">
            <h3>Dario Petkovski</h3>
            <p class="w3-opacity">Leitung Sales & Marketing</p>
        </div>
        <div class="w3-col w3-margin-bottom" style="width: 20%">
            <img class="lookatus" src="/static/pictures/hendrik.jpeg" alt="Hendrik Schwarz">
            <h3>Hendrik Schwarz</h3>
            <p class="w3-opacity">Unternehmensleitung</p>
        </div>
    </div>

    <!-- End Page Content -->
</div>

<div class="w3-display-container w3-center">
    <img src="/static/pictures/abschluss2.jpg" class="w3-image w3-greyscale-min" style="width: 100%">
    <div class="w3-display-middle w3-container w3-text-white w3-padding-32 w3-hide-small">
        <h2 style="font-size: 3em"><b>Starte Jetzt</b></h2>
        <div style="font-size: 1.5em; padding-bottom: 0.5em">Iss ausgewogen, spare Zeit und hab die perfekte Lösung für einen entspannten Alltag.</div>
        <button class="w3-button w3-teal w3-round" style="font-size: 1.25em"><a href="login.html">Essensplan erstellen</a></button>
    </div>
</div>


<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
</footer>

<script>

    // Used to toggle the menu on small screens when clicking on the menu button
    function myFunction() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }

    // When the user clicks anywhere outside of the modal, close it
    var modal = document.getElementById('ticketModal');
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

</body>
</html>
