<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>McFresch - McSwipe dein' Geschmack!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- McSwipes -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles_tinder.css') }}">

    <!-- Mainsytle -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            font-family: 'Ubuntu', sans-serif
        }
    </style>

</head>
<body>

<nav class="w3-top">
    <div class="w3-bar w3-card w3-white" style="justify-content: center; display: flex">
    <a href="{{url_for('fresh.main')}}" class="w3-theme w3-hover-theme w3-bar-item w3-button"><img src="/static/pictures/McFreshLogo.png" style="width: 2em"></a>
    {% if current_user.is_authenticated %}
    <a class="w3-padding-large w3-hover-teal w3-hide-small w3-right w3-hover-theme" style="background-color: teal; color: white">{{current_user.vorname}} Geschmack mcswipen</a>
    {% endif %}
        
    </div>
</nav>

<!-- partial:index.partial.html -->
<div class="w3-center">
    <div class="tinder">
        <div class="tinder--status">
            <i class="fa fa-remove"></i>
            <i class="fa fa-heart"></i>
        </div>

        {% for dish in dishes %}

        <div class="tinder--cards">
            <div class="tinder--card" id = "{{dish[2]}}">
                <img src="{{url_for('static', filename = "pictures/"+dish[1] )}}"  style="max-width: 600px; max-height: 300px">
                <h3>{{dish[0]}}</h3>
               
            </div>

        {% endfor %}
        </div>

        <div class="tinder--buttons">
            <button id="nope"><i class="fa fa-remove"></i></button>
            <button id="love"><i class="fa fa-heart"></i></button>
        </div>
    </div>
</div>
<!-- partial -->
<script src='https://hammerjs.github.io/dist/hammer.min.js'></script>
<script src="{{ url_for('static',filename='js/script.js') }}"></script>

</body>
</html>
